<div class="row">
  <div class="large-6 column">
    <h1> Tags </h1>
    
   
    <% @tags.each do |tag| %>
        <div class="row">
          <div class="large-6 column"> <%= tag.name %> </div>
          <div class="large-6 column"> <%= tag.description %> </div>
        </div>
    <% end %>
       

  </div>
</div>  