<div class="row">
  <div class="large-6 columns">
    <h1><%= @tag.name.html_safe %></h1>

    <ul>
      <% @tag.events.each do |event| %>
        <li> <%= link_to event.name, event %> </li>
      <% end %> 
    </ul>
  </div>
</div>